<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
<h2>Dashboard</h2>
<p>Welcome to the dashboard. Here you can see an overview of your system.</p>
</div>
<div id="container">
    <div id="container-row">
        <div id="threshold">
            <div id="thresholdHeader">Sound Threshold</div>
            <div class="faint">Faint 0 - 30 dB</div>
            <div class="moderate">Moderate To Quiet 40 - 50 dB</div>
            <div class="loud">Loud 70 dB</div>
            <div class="very-loud">Very Loud 80 - 100 dB</div>
            <div class="extremely-loud">Extremely Loud 110 - 130 dB</div>
        </div>
        <div id="gauge">
            <div id="gaugeHeader">Sound Level</div>

            <div class="meter">
                <div class="bar" id="soundBar"></div>
            </div>
            <p>Current Sound Level: <span id="soundLevel">0</span> dB</p>
        </div>
    </div>

    <div id="chart">
        <h3>Chart Loading...</h3>
    </div>
</div>
<script>


</script>
</body>
</html>
