html {
    background-color: #ffffff; /* Replace with your desired background color */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
header {
    color: #100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 0px;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.controls input[type="text"] {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.controls button {
    padding: 10px 20px;
    margin-right: 10px;
    background-image: linear-gradient(to right, #4facfe, #00f2fe);
    color: #110000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-image 0.3s ease;
    font-weight: bold;
    height: 40px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button i {
    margin-right: 8px;
}

.controls button:hover {
    background-image: linear-gradient(to right, #00f2fe, #4facfe);
}

.device-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.device-card {
    background-color: #fff;

    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.device-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.device-header {
    display: flex;
    align-items: center;
}

.device-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.device-status.disconnected  {
    background-color: red;
}

.device-status.connected  {
    background-color: #32ef32;
}

.device-name {
    display: flex;
    flex-direction: column;
}

.device-header h3 {
    margin: 0;
    font-size: 1.2em;
}

.device-header p {
    margin: 5px 0 0;
    color: #555;
    font-size: 0.7em;
}

.device-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.device-temp {
    display: flex;
    align-items: center;
}

.device-temp span {
    margin-right: 5px;
}

.device-temp strong {
    font-size: 2em;
    margin-right: 5px;
}

.device-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.device-stats span {
    font-size: 1.2em;
    color: #555;
}

#toggleSidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    background-color: #1374fd;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleSidebar:hover {
    background-color: #63a4e4;
}

.content {
    margin-left: -20px;

    transition: margin-left 0.3s ease, margin-top 0.3s ease; /* Include margin-top in the transition */
}

.chart-container {
    margin-top: 20px;
    height: 300px;
    width: 100%;
}
.navbar {
    width: 100%;

    display: flex;
    position: fixed;
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a raised effect */
}

.tab {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.tab:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.tab.active {
    background-color: #4caf50;
    color: white;
    border-radius: 10px;

}

.tab i {
    font-size: 1.2rem; /* Adjust icon size as needed */
    margin-right: 5px; /* Add spacing between icon and text */
    vertical-align: middle;
}


#content {
    transition: margin-left 0.3s ease;
    padding: 60px;
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
}

#content.shifted {
    margin-left: 250px; /* Matches the sidebar width */
}

#chart {
    height: 400px;

    background-color: #ffffff;
    border: 2px solid #ccc; /* Viền của .threshold */
    border-radius: 10px;
    padding: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}

/*--------------------------DASHBOARD---------------------------*/

#threshold {
    width: 300px; /* Kích thước chiều rộng mong muốn */
    height: auto; /* Chiều cao tự điều chỉnh tùy theo nội dung */
    padding: 10px; /* Khoảng cách nội bộ từ viền của .threshold */
    background-color: #ffffff; /* Màu nền của .threshold */
    border: 2px solid #ccc; /* Viền của .threshold */
    border-radius: 8px; /* Độ cong của các góc của .threshold */

}

#thresholdHeader {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


.faint {
    background-color: lightgray;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
.moderate {
    background-color: lightgreen;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
.loud {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
.very-loud {
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
.extremely-loud {
    background-color: red;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap value as needed to create space between the elements */
    width: 100%;
}


#container-row {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adjust the gap value as needed to create space between the elements */
}


/*-=--------------------*/

#gauge {
    width: auto;
    max-width: 200px; /* Limit the maximum width if needed */
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    top: 20px; /* Adjust as needed to position it correctly */
    left: 20px; /* Adjust as needed to position it correctly */

}

#gaugeHeader {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.ring {
    position: relative;
    --pointerleft: 11%;
    --pointertop: 11%;
    --pointerdeg: -45deg;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(red 0, red 50%, transparent 50%, transparent 100%),
    radial-gradient(green 0, green 50%, transparent 50%, transparent 100%),
    radial-gradient(white 0, white 60%, transparent 60%),
    conic-gradient(orange 0, green 130deg, white 130deg, white 230deg, red 230deg, orange 360deg);
    background-size: 11% 11%, 11% 11%, 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-position: 9.2% 82.3%, 90.8% 82.3%, center center, center center;
    border-radius: 50%;
    border-style: none;
    z-index: 1000;
}

.ring::after {
    position: absolute;
    content: '';
    width: 5%;
    height: 15%;
    left: var(--pointerleft);
    top: var(--pointertop);
    transform: rotate(var(--pointerdeg));
    border-style: solid;
    border-width: 0.5vmin;
    border-radius: 2vmin;
    background-color: white;
}

.speed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #020202;
}

.speed .number {
    font-size: 35px;
    font-weight: bold;
}

.speed .units {
    font-size: 25px;
    font-weight: bold;
}
