<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
<div class="navbar">
    <a class="tab active" onclick="loadPage('home')">
        <i class="fas fa-home"></i> Home
    </a>
    <a class="tab" onclick="loadPage('devices')">
        <i class="fas fa-laptop"></i> Devices
    </a>
    <a class="tab" onclick="loadPage('user-management')">
        <i class="fas fa-users"></i> User Management
    </a>
    <a class="tab" onclick="loadPage('companies')">
        <i class="fas fa-building"></i> Companies
    </a>
    <a class="tab" onclick="loadPage('settings')">
        <i class="fas fa-cog"></i> Settings
    </a>
</div>


<div class="content" id="content">
    </div>

<script>
    // Giả sử bạn đã có dữ liệu từ DynamoDB dưới dạng một đối tượng JSON
    const dataFromDynamoDB = [
        { "timestamp": "2023-06-20T12:00:00Z", "soundLevel": 50 },
        { "timestamp": "2023-06-20T12:01:00Z", "soundLevel": 55 },
        { "timestamp": "2023-06-20T12:02:00Z", "soundLevel": 45 },
        // Thêm dữ liệu theo định dạng tương tự
    ];

    // Hàm cập nhật mức âm thanh
    function updateSoundLevel() {
        // Lấy một mẫu ngẫu nhiên từ dữ liệu (trong thực tế, bạn có thể lấy dữ liệu mới nhất)
        const sample = dataFromDynamoDB[Math.floor(Math.random() * dataFromDynamoDB.length)];
        const soundLevel = sample.soundLevel;

        // Cập nhật thanh đo mức âm thanh và hiển thị mức âm thanh hiện tại
        const soundBar = document.getElementById('soundBar');
        const soundLevelText = document.getElementById('soundLevel');
        soundBar.style.width = `${soundLevel}%`;
        soundLevelText.textContent = soundLevel;
    }

    // Cập nhật mức âm thanh mỗi giây
    setInterval(updateSoundLevel, 1000);



    function loadPage(page) {
        const mainContent = document.getElementById('content');
        const tabs = document.querySelectorAll('.navbar .tab');

        // Remove 'active' class from all tabs
        tabs.forEach(tab => tab.classList.remove('active'));

        if (page === 'home') {
            fetch('page/dashboard.html')
                .then(response => response.text())
                .then(data => {
                    mainContent.innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading dashboard:', error);
                });
            tabs[0].classList.add('active');
            fetchSoundLevels();
            history.pushState(null, null, '/home')
        } else if (page === 'devices') {
            mainContent.innerHTML = `
            <h2>Devices</h2>
            <div class="controls">
                <input type="text" id="search" placeholder="Search" oninput="filterDevices()">
            </div>
            <div id="device-container">
                <p id="no-devices-message">No Devices found.</p>
                <div class="device-grid" id="device-grid">
                    <!-- Device cards will be dynamically inserted here -->
                </div>
            </div>
        `;
            tabs[1].classList.add('active');
            loadDevices();
            history.pushState(null, null, '/devices');
        } else if (page === 'user-management') {
            mainContent.innerHTML = `<h2>User Management</h2>`;
            tabs[2].classList.add('active');
            history.pushState(null, null, '/user-management');
        } else if (page === 'companies') {
            mainContent.innerHTML = `<h2>Companies</h2>`;
            tabs[3].classList.add('active');
            history.pushState(null, null, '/companies');
        } else if (page === 'settings') {
            mainContent.innerHTML = `<h2>Settings</h2>`;
            tabs[4].classList.add('active');
            history.pushState(null, null, '/settings');
        }
    }

    function loadDevices() {
        fetch('/devices')
            .then(response => response.json())
            .then(devices => {
                displayDevices(devices);
            })
            .catch(error => {
                console.error('Error loading devices:', error);
                alert('Failed to load devices. Please try again later.');
            });
    }

    function displayDevices(devices) {
        const deviceGrid = document.getElementById('device-grid');
        const noDevicesMessage = document.getElementById('no-devices-message');

        // Clear existing devices
        deviceGrid.innerHTML = '';

        if (devices.length > 0) {
            noDevicesMessage.style.display = 'none';
            devices.forEach(device => {
                // Create device card
                const deviceCard = document.createElement('div');
                deviceCard.classList.add('device-card');

                // Create device header
                const deviceHeader = document.createElement('div');
                deviceHeader.classList.add('device-header');

                const deviceStatus = document.createElement('div');
                deviceStatus.classList.add('device-status');
                deviceStatus.style.backgroundColor = device.status ? '#32ef32' : 'red';

                const deviceName = document.createElement('div');
                deviceName.classList.add('device-name');

                const deviceTitle = document.createElement('h3');
                deviceTitle.innerText = device.name;
                const deviceID = document.createElement('p');
                deviceID.innerText = `Device ID: ${device.deviceId}`;

                deviceName.appendChild(deviceTitle);
                deviceName.appendChild(deviceID);

                deviceHeader.appendChild(deviceStatus);
                deviceHeader.appendChild(deviceName);

                // Create device info
                const deviceInfo = document.createElement('div');
                deviceInfo.classList.add('device-info');

                const deviceTemp = document.createElement('div');
                deviceTemp.classList.add('device-temp');
                deviceTemp.innerHTML = '<span>Temperature</span><strong>0</strong><span>°C</span>';

                const deviceStats = document.createElement('div');
                deviceStats.classList.add('device-stats');
                deviceStats.innerHTML = '<span>0</span><span>0</span>';

                deviceInfo.appendChild(deviceTemp);
                deviceInfo.appendChild(deviceStats);

                // Append header and info to device card
                deviceCard.appendChild(deviceHeader);
                deviceCard.appendChild(deviceInfo);

                // Create connect button
                const connectButton = document.createElement('button');
                connectButton.innerText = 'Connect';
                connectButton.onclick = () => connectDevice(device.name, device.deviceId);

                // Append connect button to device card
                deviceCard.appendChild(connectButton);

                // Append device card to device grid
                deviceGrid.appendChild(deviceCard);
            });
        } else {
            noDevicesMessage.style.display = 'block';
        }
    }


    // Modify the connectDevice function to call loadChartPage with the actual device ID
    async function connectDevice(deviceName, deviceId) {
        try {
            const response = await fetch('/connect-device', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ allow: true })
            });
            const data = await response.json();
            console.log(data.message);
            alert('Connected to IoT device!');

            //loadChartPage(deviceId);
        } catch (error) {
            console.error('Error connecting to IoT device:', error);
            alert('Failed to connect to IoT device');
        }
    }


    // function drawChart(data) {
    //
    //
    //     const chartData = data.map(item => ({
    //         x: new Date(item.time).getTime(), // Convert time to timestamp
    //         y: parseFloat(item.data) // Convert data to number
    //     }));
    //
    //     const options = {
    //         series: [{
    //             name: 'Sound Level',
    //             data: chartData
    //         }],
    //         chart: {
    //             id: 'realtime',
    //             height: 450,
    //             type: 'line',
    //             fontFamily: 'Helvetica, Arial, sans-serif',
    //             foreColor: '#333',
    //             animations: {
    //                 enabled: true,
    //                 easing: 'linear',
    //                 dynamicAnimation: {
    //                     speed: 1000
    //                 }
    //             },
    //             toolbar: {
    //                 show: false
    //             },
    //             zoom: {
    //                 enabled: true
    //             }
    //         },
    //
    //         markers: {
    //             size: 3,
    //             colors: ["#016001"],
    //             strokeColor: "#f3f3f3",
    //             strokeWidth: 2
    //         },
    //         annotations: {
    //             yaxis: [{
    //                 y: 65,
    //                 y2:70,
    //                 borderColor: '#FF0000',
    //                 fillColor: '#fd7e7e',
    //                 label: {
    //                     borderColor: '#FF0000',
    //                     style: {
    //                         color: '#fff',
    //                         background: '#FF0000',
    //                         fontFamily: 'Arial, sans-serif',
    //                         fontSize: '12px',
    //                         fontWeight: 'bold'
    //                     },
    //
    //                     text: '> 65 dB Threshold'
    //                 },
    //
    //             }]
    //         },
    //
    //         dataLabels: {
    //             enabled: false
    //         },
    //         stroke: {
    //             curve: 'smooth',
    //             width: 3,
    //             colors: ['#028702']
    //         },
    //         title: {
    //             text: 'Chart Sound Level (Realtime)',
    //             align: 'left',
    //             style: {
    //                 fontSize: '18px',
    //                 fontWeight: 'bold',
    //                 color: '#000000'
    //             }
    //         },
    //         xaxis: {
    //             type: 'datetime',
    //             range: 50000,
    //             title: {
    //                 text: 'Time',
    //                 style: {
    //                     fontSize: '14px',
    //                     fontWeight: 'bold',
    //                     color: '#333'
    //                 }
    //             },
    //             labels: {
    //                 format: 'HH:mm:ss',
    //                 style: {
    //                     colors: '#333',
    //                     fontSize: '12px',
    //                     fontFamily: 'Arial, sans-serif',
    //                     textAlign: 'center'
    //                 }
    //             }
    //         },
    //         yaxis: {
    //             max: 80,
    //             min: 45,
    //             title: {
    //                 text: 'Decibel (dB)',
    //                 style: {
    //                     fontSize: '14px',
    //                     fontWeight: 'bold',
    //                     color: '#333'
    //                 }
    //             },
    //             labels: {
    //                 style: {
    //                     colors: '#333',
    //                     fontSize: '12px'
    //                 }
    //             }
    //         },
    //         legend: {
    //             show: false
    //         }
    //     };
    //
    //
    //     const chart = new ApexCharts(document.querySelector("#chart"), options);
    //         chart.render();
    //
    //     chart.updateSeries([{
    //         name: 'Sound Level',
    //         data: chartData
    //     }]);
    //     // // Connect to SSE endpoint
    //     // const eventSource = new EventSource('/events');
    //     //
    //     // // Handle received SSE messages
    //     // eventSource.onmessage = (event) => {
    //     //     const message = JSON.parse(event.data);
    //     //     const newDataPoint = {
    //     //         x: new Date(message.time).getTime(),
    //     //         y: parseFloat(message.data)
    //     //     };
    //     //
    //     //     // Update chart data
    //     //     chartData.push(newDataPoint);
    //     //     if (chartData.length > 20) {
    //     //         chartData.shift(); // Remove the oldest data point
    //     //     }
    //     //
    //     //     // Update series and redraw chart
    //     //     chart.updateSeries([{
    //     //         name: 'Sound Level',
    //     //         data: chartData
    //     //     }]);
    //     // };
    //     //
    //     // eventSource.onerror = (error) => {
    //     //     console.error('EventSource error:', error);
    //     //     eventSource.close();
    //     // };
    //
    //
    //
    //
    //
    // }
    //
    //
    //
    // function fetchSoundLevels() {
    //     fetch('/soundLevels')
    //         .then(response => {
    //             if (!response.ok) {
    //                 throw new Error('Network response was not ok');
    //             }
    //             return response.json();
    //         })
    //         .then(data => {
    //             //  alert('Sound Levels Data:\n' + JSON.stringify(data, null, 2));
    //             drawChart(data);
    //         })
    //         .catch(error => {
    //             console.error('Error fetching sound levels:', error); // Log fetch error
    //         });
    // }

    //  function initializePolling() {
    //      fetchSoundLevels();
    //     setInterval(fetchSoundLevels, 2000); // Polling every 5 seconds
    // }

    let dataArray = [];
    function drawChart() {
        const options = {
            series: [{
                name: 'Sound Level',
                data: dataArray
            }],
            chart: {
                id: 'realtime',
                height: 400,
                type: 'line',
                fontFamily: 'Helvetica, Arial, sans-serif',
                foreColor: '#333',
                animations: {
                    enabled: true,
                    easing: 'linear',
                    dynamicAnimation: {
                        speed: 1000
                    }
                },
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: true
                }
            },
            markers: {
                size: 3,
                colors: ["#016001"],
                strokeColor: "#f3f3f3",
                strokeWidth: 2
            },
            annotations: {
                yaxis: [{
                    y: 65,
                    y2: 70,
                    borderColor: '#FF0000',
                    fillColor: '#fd7e7e',
                    label: {
                        borderColor: '#FF0000',
                        style: {
                            color: '#fff',
                            background: '#FF0000',
                            fontFamily: 'Arial, sans-serif',
                            fontSize: '12px',
                            fontWeight: 'bold'
                        },
                        text: '> 65 dB Threshold'
                    },
                }]
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth',
                width: 3,
                colors: ['#028702']
            },
            title: {
                text: 'Chart Sound Level (Realtime)',
                align: 'left',
                style: {
                    fontSize: '18px',
                    fontWeight: 'bold',
                    color: '#000000'
                }
            },
            xaxis: {
                type: 'datetime',
                range: 50000,
                title: {
                    text: 'Time',
                    style: {
                        fontSize: '14px',
                        fontWeight: 'bold',
                        color: '#333'
                    }
                },
                labels: {
                    format: 'HH:mm:ss',
                    style: {
                        colors: '#333',
                        fontSize: '12px',
                        fontFamily: 'Arial, sans-serif',
                        textAlign: 'center'
                    }
                }
            },
            yaxis: {
                max: 80,
                min: 45,
                title: {
                    text: 'Decibel (dB)',
                    style: {
                        fontSize: '14px',
                        fontWeight: 'bold',
                        color: '#333'
                    }
                },
                labels: {
                    style: {
                        colors: '#333',
                        fontSize: '12px'
                    }
                }
            },
            legend: {
                show: false
            }
        };

        const chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        return chart;
    }

    // Function to fetch initial sound levels data
    function fetchSoundLevels() {
        fetch('/soundLevels')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                dataArray = data.map(item => ({
                    x: new Date(item.time).getTime(),
                    y: parseFloat(item.data)
                }));
                const chart = drawChart();
                setupSSE(chart);
            })
            .catch(error => {
                console.error('Error fetching sound levels:', error);
            });
    }

    function setupSSE(chart) {
        const eventSource = new EventSource('/events');

        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const newDataPoint = {
                x: new Date(data.time).getTime(),
                y: parseFloat(data.data)
            };

            // Append the new data point to dataArray
            dataArray.push(newDataPoint);

            // Update the chart with the new data
            chart.updateSeries([{
                name: 'Sound Level',
                data: dataArray
            }]);
        };

        eventSource.onerror = function(error) {
            console.error('Error receiving SSE:', error);
        };
    }

    // Load devices when the page loads
        window.onload = () => loadPage('home');
</script>
</body>
</html>

